<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each pets}}
    <p>Animal Type: {{animalType}}</p>
    <p>Pet: {{pet}}</p>
    <p>Fierceness: {{fierceness}}</p>
{{/each}}